<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/flashcards">Flashcards</a></li>
      <li><a href="/study">Study</a></li>
      <li><a href="/add">Add New</a></li>
    </ul>
  </nav>
  